.dashboard-body {
    width: 100%;
    /* min-height: 100vh; */
    background-color: rgba(246, 246, 246, 0.368);
}

.dashboard-headers {
    height: 10%;
    width: 100%;

}

.dashboard-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.dashboard-left__sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dashboard-left__sidebar-button {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.dashboard-left__sidebar-button img{
    height: 25px;
    margin-right: 10px;
}
img {
    height: 30px;
}

.dashboard-left__sidebar-btn {
    width: 70%;
    height: 60%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(196, 122, 255, 1) 0%, rgba(159, 73, 228, 1) 100%);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.2s;
}

.dashboard-left__sidebar-btn:hover {
    transform: scale(1.1);
}

.dashboard-right__content {
    width: 85%;
    height: 100%;
    margin-left: 15%;
    background-color: rgba(246, 246, 246, 0.368);
}

.dashboard-logo {
    width: 100%;
    height: 20%;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-right__header {
    position: absolute;
    top: 5%;
    right: 2%;
    height: 10%;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dashboard-right {
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 2%;
}





